<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>
    <link type="text/css" rel="stylesheet" href="<%= path %>">
    <link type="text/css" href="https://vjs.zencdn.net/7.17.0/video-js.css" rel="stylesheet" />
    <script src="https://vjs.zencdn.net/7.17.0/video.min.js"></script>
    <script src="<%= scriptPath %>"></script>

</head>

<body data-controller="assistant" class="bg-black">
    <form method="post" action="<%= postRoute %>" data-action="assistant#post"
        class="w-full h-screen flex items-center justify-center flex-col gap-4" autocomplete="off">
        <h1>
            <%= title %>
        </h1>
        <p data-assistant-target="message" class="text-white text-bold p-4 max-w-md">
            <%= message %>
        </p>
        <div data-assistant-route-value="<%= postRoute %>" class="w-full flex items-center justify-center py-4">
            <input data-assistant-target="input" type="text" name="input" placeholder="Start talking...">
            <input data-assistant-target="context" type="hidden" name="context" value="<%= context %>">
            <button type="submit">Submit</button>
        </div>
        </div>

    </form>

</html>